h1 {
	color: red;
	background-color: black;
}

p {
	text-decoration: initial;
	color: blue;
}

#tekst {
	text-align: center;
}

span {
	color: green;
}

h2 {
	color: orange;
}

a {
	text-align: center;
	color: white;
}